<section class="aboutme">
  <h1>About me</h1>
  <p>I have been threading the murky depths of software development for a far too long a time, read as I spurt obscene code.</p>
  <p>This blog is about the technology I use everyday and problems I encounter. There will be an occasional rant and rave too. All of this will be wrapped in some tongue-in-cheek humor, or at least I will try.</p>
  <p>You can find me on Twitter as <a href="http://www.twitter.com/vranac" target="_blank">@vranac</a></p>
</section>


